<html>
    <head>
        <title>Abhinav's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Abhinav's Blog</a></h1>
        </div>



        {% for post in posts %}
            
            <div>            
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>     
                <p>published: {{ post.published_date }}</p>          
            </div>    
        
        {% endfor %}
        
        
    </body>
</html>