
<html>
<head>
<title>System Information Report for D3ad</title>
</head>

<body>
 			<h1>Hey, this is System Information Report for D3ad</h1>
<p>Generated Saturday 19 August 2017 05:30:41 AM IST IST by root</p>
<h2>System Uptime</h2>
<pre> 05:30:49 up 30 min,  1 user,  load average: 0.13, 0.19, 0.21</pre>
<h2>Disk Space Utilization</h2>
<pre>Filesystem      Size  Used Avail Use% Mounted on
udev            3.9G     0  3.9G   0% /dev
tmpfs           788M  9.5M  779M   2% /run
/dev/sda5        44G   11G   31G  27% /
tmpfs           3.9G   28M  3.9G   1% /dev/shm
tmpfs           5.0M     0  5.0M   0% /run/lock
tmpfs           3.9G     0  3.9G   0% /sys/fs/cgroup
/dev/sda1       256M   88M  169M  35% /boot/efi
tmpfs           788M   16K  788M   1% /run/user/132
tmpfs           788M   16K  788M   1% /run/user/0</pre>
<h2>Home Space Utilization(ALL USERS)</h2>
<pre>188K	/root/bin
2.6M	/root/Desktop
57M	/root/django-Abhi
4.0K	/root/Documents
68M	/root/Downloads
4.0K	/root/functions.c
12K	/root/functions.out
48K	/root/hacking_the_art_of_exploitation
4.0K	/root/modulo-printf
4.0K	/root/Music
23M	/root/Pictures
0	/root/pipe1
4.0K	/root/Public
4.0K	/root/Templates
4.0K	/root/Videos</pre>
</body>
</html>
